header{
    background-color: #423760;
color: black;
}

.giovanna{
    display: flex;
}

.gio{
    padding: 10px;

}

.van{
    padding: 10px;
}

.na{
     padding: 10px;
}
.joia{
    padding-top: 23px 0px;
}
.joia2{
    padding-top: 3px;
}
